/* шрифты старт */

@font-face {
    font-family: "Parangon-530C";
    src: url("../fonts/Parangon-530C.otf") format("opentype")
}

@font-face {
    font-family: "Futura-Normal";
    src: url("../fonts/Futura-Normal.ttf") format("opentype")
}

@font-face {
    font-family: "Futura Md BT Bold";
    src: url("../fonts/Futura-Md-BT-Bold.ttf") format("opentype")
}


@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format("opentype")
}

@font-face {
    font-family: "HelveticaNeueCyr-Roman";
    src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("opentype")
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../fonts/MyriadPro-Regular.ttf") format("opentype")
}

@font-face {
    font-family: "Exo-2.0-Bold";
    src: url("../fonts/Exo-2.0-Bold.otf") format("opentype")
}


@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&subset=cyrillic');

/* шрифты конец */

body {
    margin: 0;
    letter-spacing: 0.05em;
}

.container {
    max-width: 1245px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}

h1 {
    font-family: "Parangon-530C";
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    margin: 0px 51px;
}

h2 {
    font-family: "Exo-2.0-Bold";
    font-size: 50px;
}

h3 {
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 48px;
}

h4 {}

h6 {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20.45px;
}

p {
    margin: 0;
}

.tagline {
    margin: 20px 160px 0px;
}

.section--banner {
    background: no-repeat;
    background-size: cover;
    background-image: url(../images/main.png);
    color: #fff;
    padding: 193px 0px 125px;
}

.section--banner p {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
}

.statistics {
    display: flex;
    justify-content: space-between;
    max-width: 857px;
    margin: 65px auto 0px;
}

.statistic {
    position: relative;
    width: 246px;
    display: flex;
    align-items: center;
    flex-direction: column;
    outline: 2px solid #fff;
}

.statistic__icon--star {
    position: absolute;
    z-index: 1;
    top: -15px;
    width: 37px;
    height: 35px;
    background: no-repeat;
    background-image: url(../images/favourite24.png);
}

.statistic__icon--leaflet {
    position: absolute;
    z-index: 1;
    top: -17px;
    width: 40px;
    height: 40px;
    background: no-repeat;
    background-image: url(../images/tasks3.png);
}

.statistic__icon--diamond {
    position: absolute;
    z-index: 1;
    top: -15px;
    width: 40px;
    height: 40px;
    background: no-repeat;
    background-image: url(../images/accessory32.png);
}

.statistic__number {
    font-family: "Parangon 530C";
    font-size: 48px;
    margin-top: 42px;
}

.statistic__title {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
    padding-bottom: 34px;
    text-align: center;
}

.menu {
    border-bottom: 2px solid #adadad;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 35px;
    margin-right: 143px;
    margin-bottom: 31px;
}

.navbar li {
    list-style-type: none;
}

.navbar li:not(:first-child) {
    margin-left: 36px;
}


.navbar li a {
    font-family: "Futura-Normal";
    color: #000;
    font-size: 30px;
    text-decoration: none;
}

.navbar li a:hover {
    color: #f6ae48;
}

.section--description {
    padding-top: 167px;
    padding-bottom: 250px;

}

.container--description {
    display: flex;
    align-items: center;
}

.container--description {
    margin-bottom: 209px;
}

.section__headline--description {
    margin-top: 39px;
    position: relative;
}

.section__headline--description:before {
    content: "WE";
    font-family: Tahoma, sans-serif;
    font-size: 340px;
    font-weight: bold;
    color: #f4f4f4;
    position: absolute;
    top: -174px;
    left: 316px;
    letter-spacing: 0.09em;
    z-index: -1;
}

.section__text--description {
    font-family: Arial;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    margin-left: 224px;
    margin-right: 82px;
    text-align: left;
}

.container--services {
    display: flex;
    text-align: left;
}

.services__icon--srart {
    margin-top: 14px;
}

.service__title--start {
    margin-top: 4px;
}

.services__text--start {
    margin-top: 10px;
    padding-right: 50px;
}

.services__icon--promotion {
    margin-top: 14px;
}

.service__title--promotion {
    margin-top: 20px;
}

.services__text--promotion {
    margin-top: 9px;
    padding-right: 15px;
}

.services__text--support {
    margin-top: 10px;
}

.services__text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15.34px;
    line-height: 24.57px;
}

.services--support {
    background-color: #f6ae48;
    color: #fff;
    padding-left: 26px;
    padding-bottom: 23px;
}

.services__icon--support {
    padding-top: 14px;
    padding-bottom: 19px;
}

.services__price {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services__price span {
    border: 2px solid white;
    padding: 6px 21px;
}

.services__price a {
    margin-right: 44px;
}

.services__price span:hover {
    cursor: pointer;
}

.section--credo {
    background-image: url(../images/credo.png);
    background-size: cover;
    color: #fff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 195px;
}

.container__text--credo {
    font-family: "HelveticaNeueCyr-Roman";
    font-size: 24px;
    padding: 15px 100px 0px;
    line-height: 1.4em;
}

/* .container__title--price{
    font-family: "Parangon-530C";
    font-size: 50px;
    color: #fff;
    position: relative;
    top: 80px;
} */

.section--price {
    padding-bottom: 172px;
    position: relative;
}

.section--price:before {
    content: "Разработка";
    font-size: 50px;
    color: #fff;
    font-family: "Parangon 530C";
    background-image: url(../images/development.png);
    background-repeat: no-repeat;
    width: 673px;
    height: 527px;
    position: absolute;
    top: -254px;
    padding-top: 127px;
    padding-left: 137px;
}

.cards {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 207px;
    padding: 0px 60px;
    position: relative;
}

.card {
    width: 362px;
    height: 320px;
    text-align: left;
}

.card__title--landing-page {
    font-family: "Futura Md BT Bold";
    font-size: 50.55px;
    text-align: left;
    padding: 69px 32px 5px;
    line-height: 50px;
}

.card--landing-page {
    background-image: url(../images/landing-page.png);
    border-radius: 0;
    background-repeat: no-repeat;
}

.card--web-site {
    background-image: url(../images/web-site.png);
    border-radius: 0;
    background-repeat: no-repeat;
}

.card--online-store {
    background-image: url(../images/online-store.png);
    border-radius: 0;
    background-repeat: no-repeat;
}

.cost {
    font-family: "MyriadPro-Regular";
    font-size: 24.27px;
}

.card__title--web-site {
    font-family: "Exo-2.0-Bold";
    font-size: 50.54px;
    padding: 65px 20px 0px;
}

.card__title--online-store {
    font-family: "Exo-2.0-Bold";
    font-size: 50.55px;
    padding: 60px 26px 0px;
}

.hr__card {
    height: 1px;
    background-color: #fff;

}

.hr__card--landing-page {
    margin-top: 8px;
    margin-left: 34px;
    margin-right: 55px;
}

.hr__card--web-site {
    margin-top: 51px;
    margin-left: 27px;
    margin-right: 57px;
}

.hr__card--online-store {
    margin-top: 0px;
    margin-left: 24px;
    margin-right: 59px;
}

.card__price {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 36px;

}

.card__price--web-site {
    padding-left: 39px;
}

.card__price--online-store {
    padding-left: 28px;
}

.card__price span:hover {
    cursor: pointer;
}

.cost {
    font-size: 24.27px;
}

.cost--landing-page {
    border: 2px solid #00b9e7;
    padding: 9px 27px;
    padding-bottom: 10px;
}

.cost--web-site {
    border: 2px solid #ffcb00;
    padding: 8px 28px 13px;
}

.cost--online-store {
    border: 2px solid #66bf0d;
    padding: 7px 27px 11px;
}

.arrow--blue {
    padding-top: 11px;
    padding-right: 31px;
}

.arrow--white {
    padding-top: 15px;
    padding-right: 30px;
}

.container--promotion {
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
    padding-bottom: 110px;
}

.promotion {
    padding-top: 44px;
    padding-left: 60px;
    max-width: 600px;
}

.promotion__title {
    font-family: "Parangon 530C";
    font-size: 36px;
    color: #050505;
    position: relative;
}

.promotion__title:before {
    content: "BE THE FIRST";
    font-family: Tahoma;
    font-weight: bold;
    font-size: 76.55px;
    color: #dedede;
    letter-spacing: 0.075em;
    position: absolute;
    top: -35px;
    left: -60px;
    z-index: -1;
}

.promotion__text {
    font-family: Arial;
    font-size: 24px;
    color: #000;
    line-height: 48px;
    padding-top: 17px;
}

.search-logo {
    padding-right: 226px;
}

.search-logo__google {
    background-image: url(../images/Google-Partner-Logo-square.png);
    width: 204px;
    height: 211px;
    margin-bottom: 40px;
}

.search-logo__yandex {
    background-image: url(../images/yandex-logo.png);
    width: 204px;
    height: 222px;
}

.projects {
    background-color: #303263;
    height: 120px;
    text-align: center;
}

.projects__title--header {
    font-family: "Parangon 530C";
    font-size: 36px;
    color: #fff;
    margin: 0;
    padding-top: 43px;
    position: relative;
    z-index: 1;
}

.projects__title--header:before {
    content: "OUR PROJECTS";
    font-family: Tahoma;
    font-weight: bold;
    font-size: 96.36px;
    color: #8a8ba1;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    letter-spacing: 5px;
    z-index: -1;
}

.projects__row-1 {
    display: flex;
    width: 100%;
}

.projects__row-1 img {
    width: 100%;
}

.projects__row-2 {
    display: flex;
}

.projects__row-2 img {
    width: 100%;
}

.projects--footer button {
    font-family: "Parangon-530C";
    background-color: #6a6b8e;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    border-radius: 14px;
    width: 240px;
    height: 64px;
    margin-top: 27px;
    padding-top: 5px;
}

.projects--footer button:hover {
    background: #5a5b81;
}

.container--adaptability{
    padding-top: 161px;
    margin-left: 212px;
}

.container--adaptability {
    display: flex;
}

.adaptability{
    margin-top: 52px;
}


.adaptability__title {
    font-family: "Parangon 530C";
    font-size: 36px;
    color: #050505;
    position: relative;
}

.adaptability__text {
    font-family: Arial;
    font-size: 24px;
    color: #000;
    line-height: 48px;
    padding-top: 17px;
}



















/*************************media*******************************/


@media (max-width: 1300px) {
    .card {
        width: 33%;
    }

    .section--price:before {
        width: 500px;
    }

    .container--adaptability{
        margin-left: 100px;
    }

    .adaptability__img img{
        width: 560px;
    }
}

@media (max-width: 1200px) {
    .section--banner {
        padding: 100px 0px;
    }

    .section__text--description {
        margin-left: 100px;
        margin-right: 20px;
    }

    .section__headline--description:before {
        left: 200px;
    }

    .container--description {
        margin-bottom: 167px;
    }

    .section--description {
        padding-bottom: 167px;
    }

    .section--credo {
        padding-bottom: 80px;
    }

    .cards {
        padding: 0px 10px;
    }

    .card {}

    .card__title--landing-page {
        font-size: 44px;
        padding: 41px 20px 5px;
        line-height: 42px;
    }

    .card__title--web-site {
        font-size: 44px;
        padding: 30px 20px 0px;
    }

    .card__title--online-store {
        font-size: 44px;
        padding: 25px 26px 0px;
    }

    .cost {
        font-size: 20px;
    }

    .card__price {
        padding-top: 65px;
        padding-left: 20px;
    }

    .arrow--blue {
        padding-top: 6px;
    }

    .arrow--white {
        padding-top: 7px;
    }

    .hr__card--landing-page {
        margin-left: 20px;
    }

    .hr__card--web-site {
        margin-top: 54px;
        margin-left: 19px;
    }

    .hr__card--online-store {
        margin-top: 6px;
    }

    .cost--online-store {
        padding: 10px 27px 11px;
    }

    .section--price:before {
        width: 450px;
    }

    .container--promotion {
        margin-left: 90px;
    }

    .promotion {
        padding-left: 0;
    }

    .search-logo {
        padding-right: 50px;
    }

    .section--price {
        padding-bottom: 100px;
    }

    .container--adaptability{
        margin-left: 90px;
        padding-top: 100px;
    }

    .adaptability__text {
        line-height: 30px;
    }

    .adaptability__img img {
        width: 460px;
    }
}

@media (max-width: 992px) {
    .tagline {
        margin: 20px 50px 0px;
    }

    .statistics {
        margin: 65px 50px 0px;
    }

    .statistic {
        width: 200px;
    }

    .navbar {
        margin-right: 50px;
    }

    .navbar li a {
        letter-spacing: 0;
    }

    .navbar li:not(:first-child) {
        margin-left: 20px;
    }

    .section__text--description {
        margin-left: 40px;
        margin-right: 15px;
    }

    .section--description {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section__headline--description:before {
        left: 140px;
    }

    .container--description {
        margin-bottom: 100px;
    }

    .container__text--credo {
        padding-left: 0;
        padding-right: 0;
    }

    .card {}

    .card__title--landing-page {
        font-size: 40px;
        padding: 35px 10px 5px;
    }

    .card__title--web-site {
        font-size: 40px;
        padding: 30px 10px 0px;
    }

    .card__title--online-store {
        font-size: 40px;
        padding: 28px 10px 0px;
    }

    .hr__card--landing-page {
        margin-left: 10px;
        margin-right: 20px;
    }

    .hr__card--web-site {
        margin-left: 10px;
        margin-right: 20px;
    }

    .hr__card--online-store {
        margin-left: 10px;
        margin-right: 20px;
    }

    .card__price {
        padding-top: 100px;
    }

    .cost--landing-page {
        padding: 9px 10px;
    }

    .cost--web-site {
        padding: 8px 10px 10px;
    }

    .cost--online-store {
        padding: 10px 10px;
    }

    .arrow--blue {
        padding-right: 10px;
    }

    .arrow--white {
        padding-right: 10px;
    }

    .section--price:before {
        width: 380px;
    }

    .container--promotion {
        margin-left: 25px;
    }

    .promotion__title:before {
        font-size: 66px;
        top: -25px;
        left: -31px;
    }

    .search-logo {
        padding-right: 25px;
    }

    .projects__title--header:before {
        font-size: 79px;
        top: 8px;
    }

    .container--adaptability{
        flex-direction: column;
        margin-left: 35px;
        padding-top: 40px;
    }

    .adaptability__title{
        text-align: center;
    }

    .adaptability{
        margin-right: 35px;
    }

    .adaptability__img{
        text-align: right;
    }

    .adaptability__img{
        margin-top: 15px;
    }

    .adaptability__img img{
        width: 100%;
    }

    

}

@media (max-width: 768px) {
    .section--banner {
        padding: 50px 0px;
    }

    h1 {
        font-size: 35px;
        line-height: 40px;
    }

    .tagline {
        margin: 20px 20px 0px;
    }

    .section--banner p {
        font-size: 20px;
        line-height: 27px;
    }

    .statistics {
        margin: 65px 20px 0px;
    }

    .statistic {
        width: 160px;
    }

    .statistic__number {
        font-size: 36px;
        margin-top: 36px;
    }

    .statistic__title {
        font-size: 16px;
    }

    .statistic {
        width: 160px;
    }

    .navbar {
        justify-content: center;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar li a {
        font-size: 24px;
    }

    .container--description {
        margin-bottom: 70px;
    }

    .section__text--description {
        margin-left: 20px;
        margin-right: 0;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }

    .section--description {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section__headline--description {
        font-size: 39px;
    }

    .section__headline--description:before {
        left: 0;
    }

    .section__headline--description:before {
        font-size: 300px;
        top: -160px;
    }

    .container--services {
        flex-direction: column;
    }

    .services--star {
        margin-bottom: 25px;
    }

    .services--promotion {
        margin-bottom: 40px;
    }

    .container__title--credo {
        margin-top: 0;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .card {
        width: 362px;
    }

    .card--landing-page {
        margin-bottom: 20px;
    }

    .card--web-site {
        margin-bottom: 20px;
    }

    .card__title--landing-page {
        font-size: 50.55px;
        padding: 69px 32px 5px;
        line-height: 50px;
    }

    .hr__card--landing-page {
        margin-top: 8px;
        margin-left: 34px;
        margin-right: 55px;
    }

    .cost--landing-page {
        padding: 9px 27px;
        padding-bottom: 10px;
    }

    .card__price {
        padding-top: 40px;
        padding-left: 36px;
    }

    .arrow--blue {
        padding-top: 11px;
        padding-right: 31px;
    }

    .arrow--white {
        padding-top: 15px;
        padding-right: 30px;
    }

    .card__title--web-site {
        font-size: 50.54px;
        padding: 65px 20px 0px;
    }

    .hr__card--web-site {
        margin-top: 51px;
        margin-left: 27px;
        margin-right: 57px;
    }

    .card__title--online-store {
        font-size: 50.55px;
        padding: 60px 26px 0px;
    }

    .hr__card--online-store {
        margin-top: 0px;
        margin-left: 24px;
        margin-right: 59px;
    }


    .cost--online-store {
        padding: 7px 27px 11px;
    }

    .section--price:before {
        content: none;
    }

    .section--price {
        padding-bottom: 25px;
    }

    .container--promotion {
        flex-direction: column;
        margin-right: 25px;
    }

    .search-logo {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    .promotion__text {
        line-height: 37px;
        text-align: justify;
    }

    .projects__title--header:before {
        font-size: 65px;
        top: 19px;
    }

    .adaptability__img img{
        width: 100%;
    }
}


@media (max-width: 576px) {
    h1 {
        margin: 0px 5px;
        font-size: 30px;
        line-height: 37px;
    }

    .tagline {
        margin: 20px 5px 0px;
    }

    .section--banner p {
        line-height: 20px;
    }

    .statistics {
        flex-direction: column;
        align-items: center;
    }

    .statistic {
        margin-bottom: 40px;
        width: 200px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar li a {
        font-size: 36px;
    }

    .navbar li:not(:first-child) {
        margin-left: 0;
    }

    .container--description {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .section__headline--description:before {
        content: " ";
    }

    .section--description {
        padding-top: 0;
    }

    .section__text--description {
        margin-left: 0;
        text-align: justify;
    }

    .container--services {
        flex-direction: column;
        text-align: justify;
    }

    .services--star {
        margin-bottom: 25px;
    }

    .services__text--start {
        padding-right: 0;
    }

    .services--promotion {
        margin-bottom: 30px;
    }

    .services__text--promotion {
        padding-right: 0;
    }

    .services--support {
        padding-left: 5px;
        padding-right: 5px;
    }

    .services__price a {
        margin-right: 15px;
    }

    .container__title--credo {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .container__text--credo {
        font-size: 20px;
        line-height: 1.2em;
        text-align: justify;
    }

    .section--credo {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card {
        width: 300px;
    }

    .container--promotion {
        margin: 0;
    }

    .promotion__title:before {
        content: none;
    }

    .promotion__title {
        font-size: 27px;
    }

    .promotion {
        padding-top: 10px;
    }

    .promotion__text {
        font-size: 20px;
        line-height: 30px;
    }

    .search-logo {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .projects__title--header:before {
        content: none;
    }

    .projects__title--header {
        font-size: 24px;
        padding-top: 49px;
    }

    .adaptability__title {
        font-size: 28px;
    }

    .adaptability{
        margin: 0;
    }

    .container--adaptability{
        margin: 0 15px;
    }

    .adaptability__text{
        text-align: justify;
    }

    .adaptability__text{
        font-size: 20px;
        line-height: 25px;
    }

}